master:
  masterOnly: false
  replicaCount: 1
  persistence:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 2Gi

data:
  replicaCount: 0

ingest:
  replicaCount: 0

coordinating:
  replicaCount: 0

sysctlImage:
  enabled: false
