deploymentMode: SingleBinary

loki:
  auth_enabled: false
  containerSecurityContext:
    readOnlyRootFilesystem: false
  commonConfig:
    replication_factor: 1
    path_prefix: /tmp/loki
  schemaConfig:
    configs:
      - from: "2024-01-01"
        object_store: filesystem
        store: tsdb
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: filesystem
  rulerConfig:
    storage:
      type: local
      local:
        directory: /tmp/loki/rules
    rule_path: /tmp/loki/rules-tmp
    enable_api: false
  extraArgs:
    - -config.expand-env=true

singleBinary:
  replicas: 1
  persistence:
    enabled: false
  extraVolumes:
    - name: loki-data
      emptyDir: {}
  extraVolumeMounts:
    - name: loki-data
      mountPath: /var/loki
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

gateway:
  enabled: false

chunksCache:
  enabled: false

resultsCache:
  enabled: false

sidecar:
  rules:
    enabled: false
