prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    scrapeInterval: 15s
    evaluationInterval: 15s
    retention: 2d
    storageSpec: {}

alertmanager:
  enabled: true

grafana:
  enabled: false
